:root {
	--active: red;
	--clock-day: rgb(231, 182, 22);
	--clock-night: #444;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: transparent;
}

html,
body {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: #e1e4e8;
	-webkit-transition: 0.4s;
	transition: 0.4s;

	color: #444444;
	font-family: monospace, sans-serif;
	height: 100%;

	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

body > * {
	flex: 1;
}

.main-header,
footer {
	padding: 20px;
	display: flex;
	align-items: start;
	justify-content: space-around;
	gap: 10px;
}

/******************** HEADER *********************/

@media (min-width: 750px) {
	.h1-desktop {
		display: block;
		font-size: 2vw;
	}
	.h1-mobile {
		display: none;
	}
}

@media (max-width: 750px) {
	.h1-desktop {
		display: none;
	}

	.h1-mobile {
		display: block;
		font-size: 5vw;
	}
	.account {
		font-size: 2vw;
	}
}

/* SWITCH DARK MODE */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #e1e4e8;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #1c2128;
	-webkit-transition: 0.4s;
	transition: 0.4s;

	box-shadow: inset 100px 0px #e7b616, inset 10px 0px 15px 0px #1c2128;
	-moz-box-shadow: inset 16px 0px #1c2128, inset 0px 16px 1px 1px #1c2128;
}

input:checked + .slider {
	background-color: #1c2128;
}

input:focus + .slider {
	box-shadow: 0 0 1px #1c2128;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);

	box-shadow: inset 8px 0px #e7b616, inset 10px 0px 15px 0px #1c2128;
	-moz-box-shadow: inset 16px 0px #1c2128, inset 0px 16px 1px 1px #1c2128;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
	border: 1px solid #808080;
}

.slider.round:before {
	border-radius: 50%;
}

/* DROPDOWN W3SCHOOLS */
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #e1e4e8;
	width: fit-content;
	border-radius: 15px;
}

.dropdown-content button {
	width: 100%;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/*********************************************** END HEADER *******************************************/

/********************************************** FOOTER **************************************************/
footer {
	align-items: flex-end;
	font-size: 14px;
	letter-spacing: 1px;
}

.copyR {
	text-align: center;
}

.social a:link {
	text-decoration: none;
	display: inline-block;
}
path {
	fill: #444;
}

/******************************************* END FOOTER *****************************************************/

/******************************************* ARTICLE ********************************************************/

a:link {
	color: #d1a208;
	font-weight: bold;
}
a:visited {
	color: #d1a208;
	font-weight: bold;
}

.yellow {
	color: #d1a208;
}

.arrows-task {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.arrows-task .up {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid #555;

	cursor: pointer;
}

.arrows-task .down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid #555;

	cursor: pointer;
}

.statistics-div,
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.statistics-info {
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
	gap: 20px;
}

.container-reset {
	flex-direction: column;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.errorlist li {
	color: rgb(219, 20, 60) !important;
}

h2 {
	margin: 10px;
	text-align: center;
}

.game-card {
	max-width: 100%;
}

/* PANEL */
.panel {
	border: 1px solid #444;
	border-radius: 15px;
	padding: 10px;
}
.row-1,
.row-2,
.row-3 {
	display: flex;
}

.square {
	border: 1px solid #444;
	height: 115px;
	width: 115px;
	border-radius: 50%;
	flex: 1;
}

.circle-middle {
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 100px;
	font-weight: bold;
}

.dot {
	height: 7px;
	width: 7px;
	background-color: var(--active);
	border-radius: 50%;
	display: inline-block;

	box-shadow: 0 0 20px var(--active), 0 0 30px var(--active), 0 0 40px var(--active), 0 0 50px var(--active), 0 0 60px var(--active), 0 0 70px var(--active), 0 0 80px var(--active);
}

.practice-span {
	text-align: center;
}

/* SPINNING CENTER */

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* TIME */
.clock {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 40px;
	height: 40px;
	border-radius: 100px;

	border: 3px solid #444;
	border-left: 3px solid var(--clock-night);
	border-right: 3px solid var(--clock-day);
}
.hour {
	display: flex;
	border-radius: 50%;

	width: 80%;
	height: 2.4px;

	background-color: transparent;
}

.hour-spin {
	animation: spin 3s linear 0s infinite;
}

.white {
	flex: 1;
	border-radius: 100%;
	background-color: #e1e4e8;
}
.dark {
	flex: 1;
	border-radius: 100%;
	background-color: #1c2128;
}

/* TASK */
.task {
	display: flex;
	flex-direction: row;
	/* gap: 10px; */
	margin: 20px 0;
	align-items: center;
	justify-content: space-between;
}

@media (min-width: 500px) {
	aside {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}

.buttons {
	margin: 15px;
}

button {
	padding: 8px;
	font-weight: bold;
	font-size: 15px;
	font-family: monospace, sans-serif;
	border-radius: 15px;
	letter-spacing: 1px;
	cursor: pointer;

	color: #444;
	background-color: transparent;
}

button:focus {
	outline: 0;
}

button:active {
	background-color: #808080;
}

.game {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 10px;
	margin-bottom: 15px;
}

form {
	font-size: 1.1em;
}

select,
option,
input {
	outline: none;
	border: none;
	border-bottom: 1.5px solid #444;
	background-color: transparent;
	color: #444;
	font-weight: bold;
	font-family: monospace, sans-serif;
	font-size: 1em;
}

option {
	background-color: #e1e4e8;
}

#KeyQ {
	align-self: center;
}

/* SCORE */
table {
	border: 2px solid #444;
	border-collapse: collapse;
	text-align: center;
}

table th,
td {
	border: 1px solid #444;
	border-radius: 15px;
	padding: 10px;
}

.blink {
	animation: blinker 1s linear 10;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
/******************************************* ARTICLE ********************************************************/

/****************************************** ASIDE ************************************************/

.information,
.howto {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	gap: 20px;
	padding: 30px;
}

.controls,
.play {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.text-info {
	text-align: left;
}
/****************************************** END ASIDE ************************************************/

/* MODAL FROM W3 SCHOOLS */
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #e1e4e8;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: max-content;
	max-width: 100%;
	border-radius: 15px;
}

/* The Close Button */
.close {
	float: right;
}

/* ******************** FORM CSS ********************* */

#my-dynamic-form,
.reset-form,
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 15px;
	/* padding: 5px; */

	text-align: center;
	/* height: 500px !important; */
}

.chart-container {
	position: relative;
	height: 40vh;
	width: 80vw;
}

.helptext > ul,
#dynamic-formMessages,
#sign-up-formMessages {
	max-width: 505px;
	text-align: center;
	list-style-type: none;
	font-style: italic;
	font-weight: bold;
}

.ul-danger {
	color: crimson;
}

.ul-success {
	color: green;
}

.g-recaptcha {
	transform: scale(0.77);
	-webkit-transform: scale(0.77);
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.g-recaptcha > div {
	width: 200px !important;
}

/* LOADER */
.loader {
	border: 5px solid #e1e4e8;
	border-radius: 50%;
	border-top: 5px solid #e7b616;
	width: 25px;
	height: 25px;
	-webkit-animation: spin 0.5s linear infinite; /* Safari */
	animation: spin 0.5s linear infinite;

	margin-left: auto;
	margin-right: auto;
}

/* PRACTICE */

@keyframes hide {
	0% {
		font-size: 16px;
	}

	100% {
		font-size: 0px;
	}
}

@keyframes show {
	0% {
		font-size: 0px;
	}

	100% {
		font-size: 16px;
	}
}

.span-hide {
	animation-name: hide;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-play-state: running;
}
.span-show {
	font-size: 0px;
	animation-name: show;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes show-practice {
	0% {
		height: 19px;
		opacity: 0;
	}

	100% {
		height: 57px;
		opacity: 1;
	}
}

@keyframes hide-practice {
	0% {
		height: 57px;
		opacity: 1;
	}

	100% {
		height: 19px;
		opacity: 0;
	}
}

.practice-div-show {
	animation-name: show-practice;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

.practice-div-hide {
	animation-name: hide-practice;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-play-state: running;
}
