.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  text-align: center;
}

.form ul {
  max-width: 42rem;
  text-align: center;
  list-style-type: none;
  font-weight: bold;
}

.form input {
  text-align: center;
}

.form > ul {
  max-width: 50.5rem;
  text-align: left;
  list-style-type: disc;
  font-weight: bold;
  color: var(--red);
}

.form svg {
  border: 0.1rem solid var(--green);
  border-radius: 15rem;
  padding: 0.2rem;
  color: var(--green);
  fill: none;
}
