.statistics-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.statistics-info {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  gap: 2rem;
}

.info-sets {
  display: flex;
  justify-content: center;
}

.eg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
