.accountOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 1rem;
}

.account {
  font-size: 1.6rem;
}

.account > p {
  margin: 0.5rem;
}
.account > p > span {
  font-weight: bold;
}
