/* PANEL */
.panel {
  border: 0.1rem solid var(--main-color);
  border-radius: 1.5rem;
  padding: 1rem;

  max-width: 100vw;
}
.row-1,
.row-2,
.row-3 {
  display: flex;
}

.circle {
  border: 0.1rem solid var(--main-color);
  height: 11.5rem;
  width: 11.5rem;
  border-radius: 50%;
  flex: 1;
}

.fill {
  background-color: var(--yellow);
}
