/* PANEL */
.panel {
  border: 0.1rem solid var(--main-color);
  border-radius: 1.5rem;
  padding: 1rem;

  max-width: 100vw;
}
.row-1,
.row-2,
.row-3 {
  display: flex;
}

.circle {
  border: 0.1rem solid var(--main-color);
  height: 11.5rem;
  width: 11.5rem;
  border-radius: 50%;
  flex: 1;
}

.fill {
  background-color: var(--yellow);
}

.circle-middle {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10rem;
  font-weight: bold;
}

/* SPINNING CENTER */

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* TIME */
.clock {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 4rem;
  border-radius: 10rem;

  border: 0.3rem solid var(--main-color);
  border-right: 0.3rem solid var(--main-color);
  border-left: 0.3rem solid var(--yellow);
}
.hour {
  display: flex;
  border-radius: 50%;

  width: 80%;
  height: 0.24rem;

  background-color: transparent;
}

.hour-spin {
  animation: spin 3s linear 0s infinite;
}

.white {
  flex: 1;
  border-radius: 100%;
  background-color: var(--main-color);
}

.dark {
  flex: 1;
  border-radius: 100%;
  background-color: var(--main-bg-color);
}
